<form method="post" action="{{ path('license-plate/delete', {'id': license_plate.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this license plate?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ license_plate.id) }}">
    <button class="btn badge bg-danger">delete</button>
</form>
