{% extends 'base.html.twig' %}

{% block title %}Edit License Plate - Who Blocked Me?{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="padding: 10px;">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Edit license plate</h3>
                </div>
                {{ include('license_plate/_form.html.twig') }}
            </div>
            <a href="{{ path('license-plate/index') }}">Back to license plates</a>
        </div>
    </div>
{% endblock %}
