{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Contact us - Who Blocked Me?{% endblock %}

{% block body %}

    <div class="align-items-center justify-content-center" style="padding: 10px;">
        <div class="card">
            <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <h2>Who Blocked Me?</h2>
                        <p class="lead mb-5">123 Testing Ave, Testtown, 9876 NA<br>
                            Phone: +1 234 56789012
                        </p>
                    </div>
                </div>

                <div class="col-7">
                    {{ include('home/contact_us_form.html.twig', {'button_label': 'Send message'}) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
