{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block head %}
    <link href="css/custom.css" rel="stylesheet" type="text/css">

    <script src="js/custom.js"></script>
{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <button onclick="location.href='/license/plate'" type="button">My cars</button>
        <button onclick="location.href='/ive_blocked_someone_new'" type="button">I've blocked someone</button>
        <button onclick="location.href='/ive_been_blocked_new'" type="button">Someone blocked me</button>
        <button onclick="location.href='/password/change'" type="button">Change password</button>
        <button onclick="location.href='/logout'" type="button">Logout</button>
    </div>
</div>

{% endblock %}
