{% extends 'base.html.twig' %}

{% block title %}New ...{% endblock %}

{% block body %}
    <h1>Create new blockee report</h1>

    {{ include('activity/_form.html.twig') }}

    <a href="{{ path('home') }}">back to home</a>
{% endblock %}
