{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
    <div class="register-box">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>
                {{ include('user/_form.html.twig') }}
                <a href="{{ path('app_login') }}" class="text-center">I already have a membership</a>
            </div>
    </div>
</div>
{% endblock %}
